.holder {
  display: flex;
  width: max-content;
  height: min-content;
}
.white {
  background-color: white;
  aspect-ratio: 1;
  width: 5px;
}
.green {
  background-color: green;
  aspect-ratio: 1;
  width: 5px;
}
.red {
  background-color: red;
  aspect-ratio: 1;
  width: 5px;
}
.purple {
  background-color: blue;
  aspect-ratio: 1;
  width: 5px;
}
.black {
  background-color: black;
  aspect-ratio: 1;
  width: 5px;
}
